@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar (optional, for clean scroll UX) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 